*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: hsl(0, 100%, 74%);
}
.background-image{
    position: absolute;
    bottom: 3%;
    z-index: -1;
}


.wrapper-content{
    margin-top: 10%;
}

.wrapper-content h2{
    color: white;
    font-size: 1.75em;
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
    text-align: center;
}

.wrapper-content p{
    width: 85%;
    font-size: 16px;
    text-align: center;
    color: white;
    margin-top: 10%;
    margin-left: 8%;
    margin-bottom: 12%;
}


.container{
    background-color: #5D54A3;
    color: white;
    border: none;
    position: relative;
    left: 35px;
    width: 65%;
    border-radius: 12px;
    padding: 18px 50px;
    margin-bottom: 5%;
    font-size: 16px;
    text-align: center;
}

.container h4{
    max-width: 80%;
    position: relative;
    left: 30px;
    color: hsl(246, 25%, 77%)
}
h4 span {
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.formContainer{
    margin: 2px 8%;
    background-color: white;
    border-radius: 15px;

}
.formContainer input{
    padding: 18px 88px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 5%;
    border: 1px solid grey;
    text-align: center;
}

.formContainer button{
    background-color: hsl(154, 59%, 51%);
    padding: 20px 100px;
    border-radius: 10px;
    border: none;
    margin-left: 30px;
    margin-top: 5%;
    color: white;
}
.formContainer button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.formContainer p{
    color: black;
    font-size: 12px;
    padding-bottom: 5%;
    color: hsl(246, 25%, 77%);
    text-align: center;
    width: 65%;
    margin-left: 63px;
}

form span{
    color: red;
}
#error{
    color: red;
    padding-top: 5%;
    padding-left: 17%;
}