*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: hsl(0, 100%, 74%);
    overflow-x: hidden;
}
.background-image{
    position: absolute;
    z-index: -1;
    top: 1px;
}

.wrapper-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10%;
    z-index: 1;
}

.head{
    color: white;
    margin-right: -20%;
}
.head h2{
    font-size: 2.5em;
    width: 65%;
    margin-bottom: 5%;
}
.head p{
    width: 70%;
}


.container h4{
    background-color: #5D54A3;
    color: white;
    padding: 14px 30px;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: hsl(246, 25%, 77%);
}
.container span {
    color: white;
}

.right-side{
    margin-right: 5%;
}
.formContainer {
    background-color: white;
    margin: 5% 0;
    padding: 8%;
    border-radius: 10px;
    width: 100%;
}

.formContainer input{   
    padding: 14px 80px;
    margin: 2% 0;
    text-align: center;

}

.formContainer button {
    background-color: hsl(154, 59%, 51%);
    padding: 14px 30px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    color: white;
    margin-top: 2%;
    width: 100%;
}
.formContainer p{
    font-size: 8px;
    text-align: center;
    margin-top: 5%;
    width: 100%;
}

.formContainer span {
    color: red;
}




@media screen and (max-width: 600px){
    .wrapper-content{
        display: block;
    }
    .head h2{
        font-size: 2em;
        font-weight: bold;
        margin-left: 35px;
    }
    .head p{
        margin-left: 35px;
        text-align: center;
        margin-top: 10%;
    }
    .container h4{
        padding: 14px 35px;
        width: 60%;
        margin-top: 5%;
        margin-left: 50px;
    }
    .formContainer{
        width: 90%;
    }
    .formContainer input{
        width: 47%;
    }
    .formContainer button{
        margin-left: 4px;
        padding: 14px 60px;
    }
}


#error{
    color: red;
    padding-top: 5%;
    padding-left: 17%;
} 